*{
    
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #0D1B2A
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}



.menu ul li a {
    text-decoration: none;
    color: #0D1B2A;


}
.menu ul li a:hover {
    color: #0542a4;
    transition: 0.2s;
    border-radius: 10px;
}

.common-btn {
    padding: 0.5rem 1rem;
    background-color: #2e65bdbd;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: .9rem;
}
.hero-section{
 background-image: url('./assets/banner.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 height: 80vh;

}

.hero-container{
     display: flex;
     height: 80vh;
     
     font-size: 1.2rem;
     text-align: center;
     background-color: rgba(9, 6, 33, 0.402);
   
}

.hero-content{
 flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.hero-btn{
    margin-top: 5rem;
}